    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1{
        text-align: center;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .square{
        width: 80px;
        height: 80px;
        border: none;
        background-color: dimgray;
        outline: none;
        font-size: 50px;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    .result{
        text-align: center;
        font-size: 36px;
    }

    .button{
        width: 170px;
        height: 60px;
        border-radius: 16px;
        border: none;
        background-color: green;
        font-size: 32px;
        color: aliceblue;
    }

    .button:hover{
        border: 3px solid green;
        background-color: aliceblue;
        color: green;
        cursor: pointer;
    }

    .gray{
        background-color: dimgray;
    }

    .gold{
        background-color: yellow;
    }

    .green{
        background-color: green;
    }
