* {
  font-family: roboto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav, footer {
  background-color: #347845;
  color: white;
}
.footer-developers{
  background-color: #212121; 
  padding: 10px;
}

.escudo {
  background-color: #347845;
  border-bottom: 3px solid #ffc400;
}

main {
  flex: 1 0 auto;
}
.card-img {
  height: 200px;
}

i {
  font-size: 40px;
}
.acerca {
  background-image: url(card2.1moto.avif);
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s6 {
  margin-top: 10px;
}
p {
  background-color: antiquewhite;
  padding: 15px;
}

.card {
  display: flex;
  align-items: center;
}

.card p {
  background-color: transparent;
  padding: 20px;
}
.registro {
  min-height: 70vh;
}

.registro > div {
  width: 60%;
}
.titulo-registro {
  text-align: center;
  border-left: 10px ridge rgb(235, 184, 192);
  border-top: 10px ridge pink;
  border-bottom: 10px ridge pink;
  border-left: 10px ridge pink;
  border-right: 10px ridge pink;
  padding: 20px;
  font-weight: 500;
}
P {
  background-color: beige;
}

.imagen {
  height: 100vh;
}
.contenedor {
  height: 300px;
  overflow: hidden;
}
.contenedor img {
  width: 100%;
  height: auto;
  object-fit: fill; /* Para mantener la relación de aspecto y cubrir todo el área */
}

.menu {
  list-style: none;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  color: white;
  background-color: #347845 !important;
  border-bottom: 3px solid #ffc400a1;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del elemento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega un efecto de sombra */
  transition: all 0.3s ease; /* Suaviza la transición */
}

.menu a.active {
  background-color: #347845a1 !important;
  border-bottom: 3px solid #ffc400a1;
  color: white !important;
  font-weight: 700;
}

.submenu .submenu-items {
  list-style: none;
  margin-top: 10px;
  margin-left: 15px;
  display: none;
}

.submenu.active .submenu-items {
  display: block;
}
.submenu:hover .submenu-items {
  display: block;
}

.titulo-con-lineas {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.titulo-con-lineas::before,
.titulo-con-lineas::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid black;
  margin: 0 20px;
}
.card {
  background: #f4e8c1;
  border: 5px solid #c3b091;
  box-shadow: 0 0 20px #b09c77;
  border-radius: 15px;
  font-size: 14px;
  text-align: justify;
  padding: 15px;
  margin: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
}
.main-title {
  font-family: "algerian", monospace;
  font-size: 36px;
}
.date-time {
  font-family: serif;
  font-size: 20px;
  text-align: center;
}
.noti {
  margin-left: 17px;
}
nav {
  border-bottom: 3px solid #ffc400;
}
.title-noti {
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.date-time {
  font-size: 16px;
  padding: 0 80px;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0 !important;
}
h1,
h2,
h3 {
  margin: 10px;
}

.hr {
  width: 450px;
}
